.gradle/7.0.2/fileHashes/fileHashes.bin
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/md5-checksums.bin
.gradle/checksums/sha1-checksums.bin
.idea/team-2c.iml
.gradle/7.0.2/executionHistory/
.gradle/7.0.2/fileHashes/resourceHashesCache.bin
.gradle/7.0.2/javaCompile/


